<footer class="text-center bg-dark">
    <div class="containner">
        <div class="raw">
            <div class="inner text-warning">
                <p> Copiright 2020</p>
            </div>
        </div>
    </div>
</footer>