<footer class="text-center bg-dark">
    <div class="containner">
        <div class="raw">
            <div class="inner text-warning">
                <a>Copyright 2020 </a>
            </div>
        </div>
    </div>
</footer>
