</br>
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-about">
                    <h5>A propos</h5>
                    <p>Je suis un jeune developpeur fan de pokemon</p>
                    <p><i class="fas fa-copyright"></i> Compagny Inc.</p>
                </div>
                <div class="col-md-4 footer-contact">
                    <h5>Contact</h5>
                    <p><i class="fas fa-map-marker-alt"></i>&nbsp; 1 rue de la poupée qui tousse</p>
                    <p><i class="fas fa-phone"></i>&nbsp; (33) 6 66 66 66 66 </p>
                    <p><i class="fas fa-envelope"></i>&nbsp; eugkevin@gmail.com</p>
                    <p><i class="fas fa-hashtag"></i>&nbsp; Pokélande_Officiel</p>
                </div>
                <div class="col-md-4 footer-link">
                    <h5>Link</h5>
                    <p><a href="/Home">Home</a></p>
                    <p><a href="/Forum">Forum</a></p>
                    <p><a href="/Pokedex">Pokédex</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
   {{!-- p {
       color: #0000;
   } --}}
</style>