<footer class="text-center bg-dark">
    <div class="containner">
        <div class="raw">
            <div class="inner text-warning">
                <p> Copyright 2020 </p>
            </div>
        </div>
    </div>
</footer>

<style>
    p {
        color: white !important;
    }
</style>