<footer class="text-center bg-light">
    <div class="containner">
        <div class="raw">
            <div class="inner text-warning">
                <p> Copyright 2020 </p>
            </div>
        </div>
    </div>
</footer>