{{!-- En tête de mon site internet --}}

{{!-- Le Doctype est une page html --}}
<!DOCTYPE html>
{{!-- Le Html est écrit en anglais --}}
<html lang="en">

{{!-- Tête de mon site --}}
<head>
    {{!-- Méta --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Titre De Mon site internet --}}
    <title>Pokéland</title>
    {{!-- Css --}}
    <link rel="stylesheet" href="/assets/css/style.css">
    {{!-- Jquery --}}
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{!-- FavIcone --}}
    <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/color/48/000000/pokeball--v1.png" />   
</head>

{{!-- Le corp de mon site --}}
<body>