<nav class="navbar is-info is-flex-mobile " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <img src="https://picsum.photos/50">
        <a class="navbar-item" href="/">Pokélande</a>
    </div>

    <div id=" navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                {{#if user}}
                <div class="buttons">
                    <a href="/Home" class="button is-link">
                        Acceuil
                    </a>
                    <a href="/Forum" class="button is-link">
                        Forum
                    </a>
                    <a href="/Pokedex" class="button is-link">
                        Pokédex
                    </a>
                    {{#if isAdmin}}
                    <a href="/admin" class="button is-link">
                        Admin
                    </a>
                    {{/if}}

                    <a href="/logout" class="button is-link">
                        Se Déconnecté
                    </a>

                </div>
                {{else}}
                <form action="/login" method="POST">
                    <div class="field columns">
                        <div class="column">
                                <input class="input" type="email" placeholder="Email" name="email">
                        </div>
                        <div class="column">
                                <input class="input" type="password" placeholder="Password" name="password">
                        </div>
                        <div class="column">
                                <button type="submit" class="button is-success">
                                    Login
                                </button>
                        </div>
                    </div>

                </form>

                {{/if}}
            </div>
        </div>
    </div>
</nav>