<nav class="navbar is-info is-flex-mobile " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <img src="https://picsum.photos/50">
        <a class="navbar-item" href="/">Pokélande</a>
    </div>

    <div id=" navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <form action="/login" method="POST">
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="email" placeholder="Email" name="email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </p>
                        <p class="control has-icons-left">
                            <input class="input" type="password" placeholder="Password" name="password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                        <p class="control">
                            <button type="submit" class="button is-success">
                                Login
                            </button>
                        </p>
                    </div>
                </form>
                <div class="buttons">
                    {{#if user}}
                    <a href="/forum" class="button is-link">
                        Forum
                    </a>
                    <a href="/listpokemon" class="button is-link">
                        Pokédex
                    </a>
                    <a class="button is-link">
                        Se Déconnecté
                    </a>
                    {{/if}}
                    {{#if isAdmin}}
                    <a href="/admin" class="button is-link">
                        Admin
                    </a>
                    {{/if}}

                </div>
            </div>
        </div>
    </div>
</nav>