<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Pokélande</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{#if isAdmin}}
      <a class="nav-link" href="/AdminSujet">AdminSujet</a>
      <a class="nav-link" href="/AdminPokedex">AdminPokedex</a>
      {{/if}}
    </ul>
    {{#if user}}
    <a class="nav-link" href="/Home">Home</a>
    <a class="nav-link" href="/Forum">Forum</a>
    <a class="nav-link" href="/Pokedex">Pokedex</a>
    <a class="nav-link" href="/logout">Se déconnecter</a>
    {{else}}
    <form action="/login" method="POST">
      <div class="form-row align-items-center">
        <div class="col">
          <input type="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Email"
            name="email">
        </div>
        <div class="col">
          <input type="password" class="form-control" id="Password1" placeholder="Password" name="password">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-danger">Connection</button>
        </div>
      </div>
    </form>
    {{/if}}
  </div>
</nav>