{{!-- Partial de la navBar --}}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"><img src="https://img.icons8.com/color/48/000000/pokeball--v1.png" />Pokéland</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse bg-dark justify-content-between" id="navbarSupportedContent">
    <ul class="nav nav-tabs">
      {{!-- Condition si la personne est Administrateur --}}
      {{#if isAdmin}}
      <li class="nav-item">
        <a class="nav-link" href="/Admin">Admin</a>
      </li>
      {{/if}}
       {{!-- /Condition si la personne est Administrateur --}}
      <li class="nav-item">
        <a class="nav-link disabled">Bonjour {{ sess.username }}</a>
      </li>

    </ul>
    <ul class="nav nav-tabs">
       {{!-- Condition si la personne est Utilisateur --}}
      {{#if user }}
      <li class="nav-item">
        <a class="nav-link" href="/Home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Forum">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/MonCompte">Mon Compte</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#DecoModal">
          Se Déconnecter
        </button>
      </li>
      {{else}}
      {{!--  Condition si la personne n'est pas utilisateur --}}
      <li class="nav-item active">
        <button type="button" class="btn btn-outline-primary float-right" data-toggle="modal"
          data-target="#Connection-modal-lg">
          Se Connecter
        </button>
      </li>
      {{/if}}
      {{!--  /Condition si la personne n'est pas utilisateur --}}

    </ul>
  </div>
</nav>

{{!-- Modal du Bouton Connection --}}
<div class="modal fade" id="Connection-modal-lg" tabindex="-1" role="dialog" aria-labelledby="Connection"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Se Connecter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST">
          <div class="form-group">
            <i class="fas fa-envelope prefix grey-text"></i>
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Email" name="email">
            <small id="emailHelp" class="form-text text-muted">Veuillez rentrée une adresse valide.</small>
          </div>
          <div class="form-group">
            <i class="fas fa-lock prefix grey-text"></i>
            <label for="exampleInputPassword1">Mot De Passe</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot De Passe"
              name="password">
            <small id="emailHelp" class="form-text text-muted">Nous ne partegerons jamais votre mot de passe.</small>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-outline-primary">Se Connecter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{{!-- Modale du Bouton Se Déconnecter --}}
<div class="modal fade" id="DecoModal" tabindex="-1" role="dialog" aria-labelledby="DecoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DecoModalLabel">Déconnection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Êtes-vous sur de vouloir vous déconnecter ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
        <button class="btn btn-outline-danger" href="/logout">Se Déconnecté</button>
      </div>
    </div>
  </div>
</div>