<div class="container">
    <h1>Favorie des Jeux Pokémon :</h1>
    <div class="row">
        {{#each dbType2}}
        <div class="col-md-4">
            <div class="card bg-dark" style="width: 18rem;">
                <img src="{{imgSujets}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{ description }}</p>
                    <a href="/Sujet/{{_id}}" class="btn btn-outline-info">Voir L'article</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</br>