<div class="container">
    <div class="raw">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>
                <h1>Bonjour, Tous le monde!</h1>
            </strong>
            <p>Les règle du Forum son disponible sur l'article Règle, pour le
                consulter je
                vous invite a
                cliqué sur le bouton juste en dessous.</p>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalScrollable-modal-xl">
                Cliqué Ici
            </button>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable-modal-xl" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle-modal-xl" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle-modal-xl">Règle du Forum</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bonjour et bienvenue sur le forum des passionnés des Pokémon
                voici quelques points importants à lire avant - et après - votre inscription.
                </br>
                Pour que ce forum reste agréable :
                </br>
                - Vérifier que vous entrer dans dans la bonne rubrique pour poster votre sujet. <br>
                - Soyez clair et précis (dates, lieux...) dans vos titres, ils seront plus faciles à retrouver. <br>
                - Les liens de pub ou commerciaux sont interdits dans les signatures. Ils seront systématiquement
                enlevés sans préavis. <br>
                - Evitez le langage SMS, vos messages n'en seront que plus agréables à lire. <br>
                - Restez poli, courtois et respectueux, cela commence par savoir dire Bonjour ou Bonsoir et Merci. <br>
                - Pour éviter les sanctions, pas de polémiques, ni de propos déplacés, injures ou grossièretés. <br>
                - Respectez les sujets ouverts. <br>
                - Lorsqu'une remarque vous est faite par modo ou un admin en mp (Message Privé), <br>
                - la moindre des corrections est de ne pas en faire état sur l'espace public. <br>
                - Votre inscription sue ce forum vaut engagement à ne pas poster de messages injurieux racistes,
                xénophobes, obscènes, diffamatoires, menaçants, pornographiques ou tout autre message qui violerait les
                lois françaises. Le faire peut vous conduire à être banni immédiatement de façon permanente (et votre
                fournisseur d'accès à internet pourra en être informé). <br>
                - Vous êtes pénalement responsable de vos écrits. Toutefois, une fois postés, ils deviennent la
                propriété du forum et ils pourront donc être modifiés, déplacés ou supprimés par le Staff du Forum. <br>
                - Tout message à caractère purement publicitaire sera supprimé. De même, ne pas utiliser la signature
                pour faire de la publicité ou passer une annonce. Celle-ci sera supprimée. <br>
                - Tout lecteur et/ou utilisateur de ce forum doit respecter les droits de propriété intellectuelle des
                auteurs. Il doit notamment veiller à ne pas reproduire et diffuser les contributions publiées sur ce
                forum sur d’autres forums ou d’autres supports sans l’accord de leurs auteurs. <br>


            </div>
            <div class="modal-footer">
                <p>Merci à Vous </p>
            </div>
        </div>
    </div>
</div>
