{{!-- Collapse Btn Add Sujet --}}

{{!-- Button Add Sujet --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn btn-outline-success float-right" data-toggle="modal" data-target="#AddModal">
                Ajouter un article
            </button>
            <h1>Liste des Sujets :</h1>
        </div>
    </div>
</div>


<!-- Modal Add Sujet -->
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddModalLabel">Créer un Sujet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{!-- Formulaire pour crée un article --}}
            <form action="/Forum" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    {{!-- Input titre --}}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="formGroupExampleInput">Titre De L'article :</label>
                                <input type="text" class="form-control" id="formGroupExampleInput"
                                    placeholder="Example de Titre" name='title' required>
                            </div>
                        </div>
                    </div>
                    {{!-- /Input titre --}}
                    {{!-- Menu déroulan pour selectionner le type d'article --}}
                    <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="exampleFormControlSelect1">Type de l'article :</label>
                            <select class="form-control" id="exampleFormControlSelect1" name='type' required>
                                <option selected>Choisir :</option>
                                <option value="1">Article sur les Régions Pokémon</option>
                                <option value="2">Article sur Les Jeux Pokémon</option>
                            </select>
                        </div>
                    </div>
                    </div>
                    {{!-- /Menu déroulan pour selectionner le type d'article --}}
                    {{!-- Input Description --}}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="comment">Description :</label>
                                    <textarea class="form-control" rows="5" id="comment" name="description"
                                        required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- /Input Description --}}
                    </br>
                    {{!-- Input add image --}}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                            aria-describedby="inputGroupFileAddon01" name="imgSujets" required>
                                        <label class="custom-file-label" for="inputGroupFile01">Choisir un fichier
                                            ...</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- /Input add image --}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </form>
            {{!-- /Formulaire pour crée un article --}}
        </div>
    </div>
</div>
<!-- Modal Add Sujet -->