<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-dark table-hover responsive-sm">
                <caption>List des Article Important</caption>
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Règle</td>
                    </tr>
                    <tr>
                        <td>Mise a Jour</td>
                    </tr>
                    <tr>
                        <td>Aide</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-dark table-hover responsive-sm">
                <thead>
                    <tr>
                        <th scope="col">
                            <h5>Liste des Catégorie des Article</h5>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="/Forum/Article">Région Pokemon</a> 
                        </td>
                    </tr>
                    <tr>
                        <td>Article Jeux Pokémon</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>