{{!-- Page pour tester son mail --}}
<h3>Test de Mail</h3>
{{!-- Lien qui permet de tester son mail --}}
<a href="/mailer/test">
    <button class="btn btn-outline-info">Tester votre mail</button>
</a>
{{!-- Page pour tester son mail --}}