{{!-- Partial Vérif Mail --}}
<h3>Vérifier Son Compte</h3>
{{!-- Lien qui m'envois un mail de verification --}}
<a href="/mailer/verifMail">
    <button class="btn btn-outline-primary">Mail de vérification</button>
</a>
{{!-- /Partial Vérif Mail --}}