<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Vérifier Son Compte</h3>
            <a href="/mailer/verifMail">
                <button>Mail de vérification</button>
            </a>
        </div>
    </div>
</div>