{{!-- Partial De la Page Administrateur --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center"> <i class="fas fa-user-secret fa-2x"></i> Administration</h1>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="Article">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseArticle"
                                aria-expanded="false" aria-controls="collapseArticle">
                                <i class="far fa-newspaper"></i>
                                Gestion des Sujet
                            </button>
                        </h5>
                    </div>

                    <div id="collapseArticle" class="collapse show" aria-labelledby="Article" data-parent="#accordion">
                        <div class="card-body">
                            {{!-- Partial des Bouton pour la gestion des sujet --}}
                            {{> Admin/Btn}}
                            {{!-- Partial pour l'administrations des Sujet du site Internet --}}
                            {{> Admin/AdminSujet}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="Sujet">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSujet"
                                aria-expanded="false" aria-controls="collapseSujet">
                                <i class="fas fa-user-cog"></i>
                                Gestoin des Utilisateur
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSujet" class="collapse" aria-labelledby="Sujet" data-parent="#accordion">
                        <div class="card-body">
                            {{!-- Partial pour l'administrations des utilisateur --}}
                            {{> Admin/AdminUser}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>