<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h1>Erreur 404</h1>
            <h2>Plus de Pokéball</h2>
            <h2>La prochaine fois prend plus de ball au Pokéshop</h2>
        </div>
    </div>
</div>
</head>
<body>