</br>
<nav class="panel">
    <p class="panel-tabs">
        <a href="/">Région</a>
        <a>Pokédex</a>
        <a>Jeux Vidéo</a>
        <a>Produit Dériver</a>
    </p>
    </br>
    <div class="panel-block">
        <p class="control has-icons-left">
            <input class="input" type="text" placeholder="Search">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </p>
    </div>
</nav>
</br>
<h1 class="title is-1">Liste de Sujet</h1>
</br>
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th class="title is-2"><abbr title="Sujet">Sujet</abbr></th>
            <th class="title is-2"><abbr title="Description">Description</abbr></th>
        </tr>
    </thead>
<tr>
    <td>Région</td>
    <td>Histoire de Kanto <span class="tag is-success">Admin</span></td>
</tr>
<tr>
    <td>Pokédex</td>
    <td>Togépie <span class="tag is-warning">Utilisateur</span></td>
</tr>
<tr>
    <td>Jeux</td>
    <td>Astuce Pokémon rouge</td>
</tr>
<tr>
    <td>Produit Dériver</td>
    <td>Peluche feurisson</td>
</tr>
</table>