<div class="container">
    <div class="row">
        <div class="jumbotron col-md-12">
            <button type="button" class="close" data-dismiss="jumbotron" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h1 class="display-4">Bonjour, Tous le monde!</h1>
            <p class="lead">Les règle du Forum son disponible sur l'article Règle, pour le consulter je vous invite a
                cliqué sur le bouton juste en dessous.</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-info btn-lg" href="Sujet/5e70924df3c88d0ba82b651f" role="button">Cliqué ici</a>
            </p>
        </div>
    </div>
</div>

</br>
<div class="container">
    <div class="raw">
        <div class="col-md-12">
            <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#exampleModal">
                Ajouté un Article
            </button>
            <h1 class="title is-1">Liste des Sujets :</h1>
        </div>
    </div>
</div>

<!-- Modal -->
<form action="/Forum" method="post" enctype="multipart/form-data">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajout d'un Article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="formGroupExampleInput">Titre De L'article :</label>
                            <input type="text" class="form-control" id="formGroupExampleInput"
                                placeholder="Example de Titre" name='title'>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="exampleFormControlSelect1">Type de l'article :</label>
                            <select class="form-control" id="exampleFormControlSelect1" name='type'>
                                <option>Accueil des Personnes</option>
                                <option>Article sur les Régions Pokémon</option>
                                <option>Article sur Les Jeux Pokémon</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="comment">Description :</label>
                                <textarea class="form-control" rows="5" id="comment" name="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                </br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                        aria-describedby="inputGroupFileAddon01" name="imgSujets">
                                    <label class="custom-file-label" for="inputGroupFile01">Choisir un fichier
                                        ...</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Enregistrer</button>
                <button class="btn btn-secondary">Annuler</button>
            </div>
        </div>
    </div>
</div>
</form>
{{> forum/collapseforum }}
