&nbsp;
<div class="container">
    <h1 class="title is-1">Favorie du mois :</h1>
    <div class="row">
        {{#each dbsujets}}
        <div class="col-sm-4">
            <div class="card text-white bg-secondary border-light mb-3" style="width: 18rem" ;>
                <img class="card-img-top" src="{{imgSujets}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" {{title}}></h5>
                    <p class="card-text">{{ description }}</p>
                    <a href="/Sujet/{{_id}}" class="btn btn-primary">Voir L'article</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>