{{!-- Page Home lors de la Connection --}}
{{!-- NavBar pour savoir ou nous somme --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{{!-- 
    Parital des Carte de mes Article Favorie
 --}}
{{> Home/Favorie }}

{{!-- 
    Partial des Équipe Favorite
 --}}
{{> Home/Equipe }}