{{!-- Page Principal du site Internet --}}
&nbsp;
<div class="container">
    <div class="row">
        
        {{!-- 
            Partial de l'Image de la page /
         --}}
        {{> Login/Image}}

        {{!-- 
            Partial du Formulaire d'inscription du site
         --}}
        {{> Login/Formulaire}}
    </div>
</div>