&nbsp;
<div class="container">
    <div class="row">
        
        {{!-- 
            Image de la page /
         --}}
        {{> Login/Image}}

        {{!-- 
            Formulaire d'inscription du site
         --}}
        {{> Login/Formulaire}}
    </div>
</div>