{{!-- Page pour prevenir l'utilisateur que le Mail a bien était envoyer --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Votre mail A bien été envoyer</h2>
        </div>
    </div>
</div>