<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-column">
            <div class="p-2">{{> MonCompte/Info}}</div>
            <div class="p-2">{{> MonCompte/VerifMail}}</div>
            <div class="p-2">{{> MonCompte/TestMail}}</div>
        </div>
        </div>
    </div>
</div>