{{!-- Page Mon Compte Avec 3 partial --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-column">
                {{!-- Partial Pour retrouver les info des utilisateur --}}
            <div class="p-2">{{> MonCompte/Info}}</div>
                {{!-- Partial Pour Valider son Mail --}}
            <div class="p-2">{{> MonCompte/VerifMail}}</div>
                {{!-- Partial Pour Tester son Mail --}}
            <div class="p-2">{{> MonCompte/TestMail}}</div>
        </div>
        </div>
    </div>
</div>