{{!-- Page Mon Compte Avec 3 partial --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Mon Compte</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-column">
                {{!-- Partial Pour retrouver les info des utilisateur --}}
            <div class="p-2">{{> MonCompte/Info}}</div>
                {{!-- Partial Pour Valider son Mail --}}
            <div class="p-2">{{> MonCompte/VerifMail}}</div>
        </div>
        </div>
    </div>
</div>