{{!-- Page 404 qui me permet de prevenir si le lien demander n'est pas bon --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Erreur 404</p>
        </div>
    </div>
</div>