<!-- Extra large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".ModalKanto-modal-xl">Pokedex Kanto</button>

<div class="modal fade ModalKanto-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        </br>
<h1 class="text-center">1er Génération</h1>
</br>
{{!-- Tableau de mes génération de pokémon --}}
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th class="text-center">liste pokemon</th>
        </tr>
    </thead>

    <tr>
        <td></td>
        <td></td>
    </tr>

</table>
{{!-- /Tableau de mes génération de pokémon --}}
    </div>
  </div>
</div>


<!-- Extra large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".ModalJohto-modal-xl">Pokedex Johto</button>

<div class="modal fade ModalJohto-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        </br>
<h1 class="text-center">2ème Génération</h1>
</br>
{{!-- Tableau de mes génération de pokémon --}}
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th class="text-center">liste pokemon</th>
        </tr>
    </thead>

    <tr>
        <td></td>
        <td></td>
    </tr>

</table>
{{!-- /Tableau de mes génération de pokémon --}}
    </div>
  </div>
</div>

<!-- Extra large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".ModalHoenn-modal-xl">Pokedex Hoenn</button>

<div class="modal fade ModalHoenn-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        </br>
<h1 class="text-center">3ème Génération</h1>
</br>
{{!-- Tableau de mes génération de pokémon --}}
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th class="text-center">liste pokemon</th>
        </tr>
    </thead>

    <tr>
        <td></td>
        <td></td>
    </tr>

</table>
{{!-- /Tableau de mes génération de pokémon --}}
    </div>
  </div>
</div>

