</br>
<h1 class="title is-1">1er Génération</h1>
</br>
{{!-- Tableau de mes génération de pokémon --}}
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th class="title is-2">Sujet</th>
            <th class="title is-2">Description</th>
        </tr>
    </thead>
    
    <tr>
        <td></td>
        <td></td>
    </tr>
    
</table>
{{!-- /Tableau de mes génération de pokémon --}}