<div class="container">
    <div class="raw">
        <h1>
            <i class="fas fa-user"></i>
            Liste des utilisateurs :
            </h1>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Id</th>
                    <th>Bouton</th>
                </tr>
            </thead>
            {{#each dbUsers }}
            <tr>
                <td>{{ username }}</td>
                <td>{{ email }}</td>
                <td>{{ _id }}</td>
                <td>
                    <form action="/admin/{{ this.id }}/?_method=DELETE" method="post">
                        <button class="btn btn-outline-danger" type="submit">
                            <i class="fas fa-user-minus"></i>
                        </button>
                    </form>

                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>