<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/adminSujet/?_method=DELETE" method="post">
                <button type="submit" class="btn btn-primary float-right">Effacer tout</button>
            </form>
            <h1 class="title is-1">Liste des sujets :</h1>
        </div>
    </div>
</div>
<div>