<div class="container">
    <div class="row">
        <h1 class="text-center">Liste des sujets :</h1>
        <form action="/adminSujet/?_method=DELETE" method="post">
            <button type="submit" class="btn btn-primary float-right">Effacer tout</button>
        </form>
    </div>
</div>