<div class="container">
    <div class="row">
        <h1>
            <i class="fas fa-list"></i>
            Liste des Sujets :
            </h1>
        <form action="/admin/?_method=DELETE" method="post">
            <button type="submit" class="btn btn-danger float-right">Effacer tout</button>
        </form>
    </div>
</div>