{{!-- Partial pour Écrir un commentaire --}}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{!-- Formulaire Pour envoyer le commentaire sur la DB --}}

      {{!-- {{dbsujetID._id}} permet de lier l'id de l'article au commentaire --}}
      <form action="/comment" method="post">
        <h3>Ajouter un Commentaire:</h3>
        <div class="form-group row">
            <label>Autheur</label>
        <input type="text" name="author" placeholder="Autheur">
        <label>Message</label>
        <input type="hidden" name="articleID" value="{{dbSujetsID._id}}">
        <textarea name="message"></textarea>
        <button type="submit">Confirmer</button>
        </div>
      </form>
      {{!-- Formulaire Pour envoyer le commentaire sur la DB --}}
    </div>
  </div>
</div>
{{!-- /Partial pour Écrir un commentaire --}}