{{!-- Mon Sujet --}}
{{#each dbSujetsID }}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="{{ imgSujets }}" class="img-fluid" alt="">
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
  </div>
</div>
{{/each}}
{{!-- /Mon Sujet --}}

<style>
  p {
    color: #000000;
  }
</style>